h1 {
  text-align: center;
  color: #29D5D9;
}
header{
background-color: black;
height: 75px;
width: auto;
}
#länk{
  font-size: 15px;
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
nav{
  background-color: lightpink;
  height: 50px;
  width: auto;
}
main{
  background-color: lightgreen;
  height: 350px;
  width: 1280px;
}
aside{
  background-color: navy;
  height: 350px;
  width: 640px;
}
footer{
  background-color: orange;
  height: 70px;
  width: auto;
}
#mainwrapper{
  display: flex;
}
#wrapper{
  width: 600px;
  margin-left: auto;
  margin-right: auto;

}
/* rätt storlek på bild*/
#bild {
  max-width: 100%;
  height: auto;
  image-align: center;
}
/* lägger bilden i mitten*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body{
  background-color: lightblue;
}
